<!-- <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div> -->

<app-header [heading]="heading"></app-header>
<div class="container" style="height: 500px">

    <h1 style="text-align:center">Task <span style="float:right;color:red" (click)="moveToUsers()">Users</span></h1>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

        <div class="form-group">

            <label for="taskname">Task Name</label><br>

            <input type="text" formControlName="taskname" name="taskname" placeholder="Your name" class="form-control">

        </div>

        <pre></pre>

        <div class="form-group">

            <label for="date">Task Date</label><br>

            <input type="date" formControlName="date" name="date" placeholder="Your email" class="form-control">

        </div>

        <pre></pre>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <h4 style="color:white;text-align:center" (click)="openCompleted()">Show Completed</h4>

    <app-completed *ngIf="showCompleted == true" (completedPage)="newEmittedData($event)" [heading]="childHeader"></app-completed>

    <app-selected-task></app-selected-task>

    <!-- <h4 style="color:white" *ngIf="selectedTask == true">Selected task</h4>
    <div *ngIf="selectedTask == true" (click)="close(data)" class="div1">
        <ng-container *ngFor="let data of selectedTaskList">
            <p>{{data.task}}</p>
            <p>{{data.date}}</p>
        </ng-container>
    </div> -->

</div>