
<div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>

<app-header  [heading]="heading"></app-header>


<div class="container" style="height: 500px">

<h1>SignUp / Login</h1>


    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

        <div class="form-group">

            <label for="firstname">FirstName</label><br>

            <input type="text" formControlName="name" name="firstname" placeholder="Your name" class="form-control input"
                [ngClass]="{'error': submitted && myForm.controls.name.errors}">

            <div class="invalid-feedback" class="error" *ngIf="submitted && myForm.controls.name.errors?.required">
                <sup>*</sup>Enter your name
            </div>

        </div>

        <pre></pre>

        <div class="form-group">

            <label for="email">EmailID</label><br>

            <input type="text" formControlName="email" name="email" placeholder="Your email" class="form-control input">

            <div class="invalid-feedback" class="error" *ngIf="submitted && myForm.controls.email.errors?.required">
                <sup>*</sup>Enter your Email
            </div>
            <div class="invalid-feedback" class="error" *ngIf="submitted && myForm.controls.email.errors?.pattern">
                <sup>*</sup>Enter a correct Email
            </div>

        </div>

        <pre></pre>

        <div class="form-group">
            <label for="password">Password</label><br>
            <input type="password" name="password" formControlName="password" placeholder="Your password"
                class="form-control input">
            <div class="invalid-feedback" class="error" *ngIf="submitted && myForm.controls.password.errors?.required">
                <sup>*</sup>Enter a Password
            </div>
        </div>

        <pre></pre>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

</div>




